#bodystyle{
    background-image: url('Background.jpg');
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 1600px 700px;
    background-attachment: fixed;
}
#TopBar{
    display:flex ;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0px;
}
#window{
  position: absolute;
  z-index: 15;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  top:100px; left:100px;
  width: 300px;
  height: 150px; 
}
#windowheader {
  width: 300px;
  height: 20px;
  z-index: 10;
  user-select: none; 
  cursor: grab;
  background-color: #929ba3;
  color: #fff;
}